examples/audio/resources    symlink=dir
examples/core/resources     symlink=dir
examples/models/resources   symlink=dir
examples/others/resources   symlink=dir
examples/others/external    symlink=dir
examples/shaders/resources  symlink=dir
examples/shapes/resources   symlink=dir
examples/text/resources     symlink=dir
examples/textures/resources symlink=dir
